:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-primary-accent: #819b57;
  --color-secondary-light: #cfcfbc;
  --color-secondary-dark: #a18268;
  --color-secondary-accent: #465929;
}
