<section>
  <h2>наші найкращі шеф -кухарі</h2>
  <ul>
    <li>
      <img
        src="./images/nastya.jpg"
        alt="smiling brunette girl with short hair"
      />
      <article>
        <h3>Настя</h3>
        <p>привіт, я Настя!</p>
        <p>вже 10 років, я втілюю у життя цікаві та смачні ідеї.</p>
        <p>я випічу для вас найсмачніщі вироби!</p>
      </article>
    </li>
    <li>
      <img src="./images/vlad.jpg" alt="serious man in glasses without hair" />
      <article>
        <h3>Влад</h3>
        <p>привіт, я Влад!</p>
        <p>
          мій кодитерський стаж вже 18 років. SHOP BEKERY - це наша любов, з
          якою ми ділимось кожен раз з Вами через нашу випічку!
        </p>
        <p>я зроблю для вас унікальну начинку на будь який смак!</p>
      </article>
    </li>
  </ul>
</section>
