<section id="chefs-section" class="section chefs">
  <h2 class="title chefs__title">
    Наші найкращі <span class="chefs__title--color">шеф -кухарі</span>
  </h2>
  <ul class="chefs-list">
    <li class="chefs-list__item">
      <img
        class="chefs-list__img"
        src="./images/nastya.jpg"
        alt="smiling brunette girl with short hair"
      />
      <article class="chefs-list__article">
        <h3 class="chefs-list__title">Настя</h3>
        <p class="chefs-list__text">Привіт, я Настя!</p>
        <p class="chefs-list__text">
          Вже 10 років, я втілюю у життя цікаві та смачні ідеї.
        </p>
        <p>Я випічу для вас найсмачніщі вироби!</p>
      </article>
    </li>
    <li class="chefs-list__item">
      <img
        class="chefs-list__img"
        src="./images/vlad.jpg"
        alt="serious man in glasses without hair"
      />
      <article class="chefs-list__article">
        <h3 class="chefs-list__title">Влад</h3>
        <p class="chefs-list__text">Привіт, я Влад!</p>
        <p class="chefs-list__text">
          Мій кодитерський стаж вже 18 років. SHOP BEKERY - це наша любов, з
          якою ми ділимось кожен раз з Вами через нашу випічку!
        </p>
        <p>Я зроблю для вас унікальну начинку на будь який смак!</p>
      </article>
    </li>
  </ul>
</section>
