<footer class="footer section">
  <div class="footer__container">
    <a class="logo footer__logo" href="/">
      <img src="./images/logo.png" alt="логотип сучасної пекарні" />
    </a>
    <ul class="footer__nav-list">
      <li>
        <a class="footer__nav-link" href="#traditions-section">Наші традиції</a>
      </li>
      <li>
        <a class="footer__nav-link" href="#chefs-section">Шеф-кухарі</a>
      </li>
      <li>
        <a class="footer__nav-link" href="#formats-section">Формати</a>
      </li>
      <li><a class="footer__nav-link" href="#contacts-section">Контакти</a></li>
    </ul>
    <address class="footer__address">
      <ul class="footer__nav-list">
        <li>
          <a class="footer__text" href="tel:+380960000007"
            >+ 38 (096) 000 00 07</a
          >
        </li>
        <li>
          <a class="footer__text" href="mailto:shopbakery@gmail.com"
            >shopbakery@gmail.com</a
          >
        </li>
        <li>
          <a
            class="footer__text"
            href="https://maps.app.goo.gl/d2E7XF4itR2ev9va9"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >Україна, м. Київ, вул. Січових Стрільців 54</a
          >
        </li>
      </ul>
      <div class="footer__icons">
        <svg class="footer__icon" width="32" height="32">
          <use href="./images/symbol-defs.svg#icon-facebook"></use>
        </svg>
        <svg class="footer__icon" width="32" height="32">
          <use href="./images/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </div>
    </address>

    <div class="footer__policy-block">
      <p class="footer__text">Політика конфіденційності</p>
      <p class="footer__text--color">&#169; 2022 Дані захищені</p>
    </div>
  </div>
</footer>
