<footer class="footer">
  <nav>
    <a href="">
      <img src="./images/logo.png" alt="логотип сучасної пекарні" />
    </a>
  </nav>
  <ul>
    <li><a href="">Наші традиції</a></li>
    <li><a href="">Шеф-кухарі</a></li>
    <li><a href="">Формати</a></li>
    <li><a href="">Контакти</a></li>
  </ul>
  <address>
    <ul>
      <li><a href="tel:+380960000007">+ 38 (096) 000 00 07</a></li>
      <li><a href="mailto:shopbakery@gmail.com">shopbakery@gmail.com</a></li>
      <li>
        <a
          href="https://maps.app.goo.gl/d2E7XF4itR2ev9va9"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >Україна, м. Київ, вул. Січових Стрільців 54</a
        >
      </li>
    </ul>
  </address>
  <p>Політика конфіденційності</p>
  <p>&#169 2022 Дані захищені</p>
</footer>
