<section id="formats-section" class="formats">
  <div class="container">
    <h2 class="title">Формати</h2>
    <ul class="formats__list">
      <li class="formats__item">
        <img
          class="formats__img"
          src="./images/walrus.jpg"
          alt="Walrus baker"
        />
        <article class="formats__card">
          <h3 lang="en" class="formats__subtitle">Walrus</h3>
          <p class="formats__text">
            Площа: до 120 м2 <br />Меню: розширене меню <br />Штат: 2
            продавці-касири, 2 пекарі, 2 помічники пекаря, 2 офіціанти-різнороби
            <br />Посадкові місця: є
          </p>
        </article>
      </li>
      <li class="formats__item">
        <img
          class="formats__img"
          src="./images/horseshoe.jpg"
          alt="Horseshoe baker"
        />
        <article class="formats__card">
          <h3 lang="en" class="formats__subtitle">Horseshoe</h3>
          <p class="formats__text">
            Площа: до 25 м2 <br />
            Меню: найпопулярніші позиції меню <br />Штат: 2 продавці-касири, 2
            пекарі, 1 помічник пекаря <br />Посадкові місця: відсутні
          </p>
        </article>
      </li>
      <li class="formats__item">
        <img
          class="formats__img"
          src="./images/handlebar.jpg"
          alt="Handlebar baker"
        />
        <article class="formats__card">
          <h3 lang="en" class="formats__subtitle">Handlebar</h3>
          <p class="formats__text">
            Площа: до 15 м2 <br />Меню: найпопулярніші позиції меню <br />Штат:
            1 продавець, 1 пекар, 1 помічник <br />пекаря <br />Посадкові місця:
            відсутні
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
