<section>
  <h2>формати</h2>
  <ul>
    <li>
      <article>
        <h3 lang="en ">Walrus</h3>
        <p>
          площа: до 120 м2 Меню: розширене меню Штат: 2 продавці-касири, 2
          пекарі, 2 помічники пекаря, 2 офіціанти-різнороби Посадкові місця: є
        </p>
      </article>
    </li>
    <li>
      <article>
        <h3 lang="en ">Horseshoe</h3>
        <p>
          площа: до 25 м2 Меню: найпопулярніші позиції меню Штат: 2
          продавці-касири, 2 пекарі, 1 помічник пекаря Посадкові місця: відсутні
        </p>
      </article>
    </li>
    <li>
      <article>
        <h3 lang="en ">Handlebar</h3>
        <p>
          площа: до 15 м2 Меню: найпопулярніші позиції меню Штат: 1 продавець, 1
          пекар, 1 помічник пекаря Посадкові місця: відсутні
        </p>
      </article>
    </li>
  </ul>
</section>
