<header class="header">
  <div class="header__container">
    <a class="nav__logo" href="/">
      <img src="./images/logo.png" alt="логотип сучасної пекарні" />
    </a>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav__link" href="#traditions-section"
            >Наші традиції</a
          >
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#chefs-section">Шеф-кухарі</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#formats-section">Формати</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#contacts-section">Контакти</a>
        </li>
      </ul>
    </nav>
    <button class="btn-order" type="button">Замовити дзвінок</button>
  </div>
</header>
