<div class="mobileMenu is-hiddenMenu">
  <div class="mobileMenu__container">
    <button class="mobileMenu__close" type="button">
      <svg
        class="mobileMenu__icon"
        width="24"
        height="24"
        aria-label="Кнопка закриття мобільного меню"
      >
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobileMenu__nav">
      <a class="mobileMenu__logo" href="/">
        SHOP
        <span class="mobileMenu__logo--font">BAKERY</span>
      </a>
      <ul class="mobileMenu__list">
        <li class="mobileMenu__item">
          <a class="mobileMenu__link" href="#traditions-section"
            >Наші традиції</a
          >
        </li>
        <li class="mobileMenu__item">
          <a class="mobileMenu__link" href="#chefs-section">Шеф-кухарі</a>
        </li>
        <li class="mobileMenu__item">
          <a class="mobileMenu__link" href="#formats-section">Формати</a>
        </li>
        <li class="mobileMenu__item">
          <a class="mobileMenu__link" href="#contacts-section">Контакти</a>
        </li>
      </ul>
    </nav>
    <img
      class="mobileMenu__bread"
      src="./images/Abakery landing/Group 4941.png"
      alt="Хліб"
    />
  </div>
</div>
