<div class="backdrop is-hidden">
  <div class="modal">
    <button class="modal__close-btn" ltype="button">
      <svg
        class="modal__close-icon"
        width="24"
        height="24"
        aria-label="Кнопка закриття модального вікна"
      >
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="title modal__title">Замовити дзвінок</h2>
    <p class="text modal__text">
      Залишіть заявку та наш спеціаліст зв'яжеться з Вами!
    </p>
    <form class="modal__form">
      <div class="modal__field">
        <input
          class="modal__input"
          id="user-name"
          type="text"
          required
          minlength="2"
          maxlength="20"
          placeholder=""
        />
        <label class="modal__label" for="user-name">Ім’я</label>
      </div>
      <div class="modal__field">
        <input
          class="modal__input"
          id="user-telephone"
          type="tel"
          required
          pattern="^\+[0-9]{12}"
          placeholder=""
        />
        <label class="modal__label" for="user-telephone">Телефон</label>
      </div>
      <div class="modal__field">
        <input
          class="modal__input"
          id="user-email"
          type="email"
          required
          pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/"
          placeholder=""
        />
        <label class="modal__label" for="user-email">Електронна пошта</label>
      </div>

      <button class="btn-order" type="submit">Замовити дзвінок</button>
      <p class="modal__info">
        Натискаючи на кнопку я погоджуюсь
        <a class="modal__info modal__link" href="#"
          >з політикою конфіденційності</a
        >
      </p>
    </form>
  </div>
</div>
