<section id="traditions-section" class="traditions">
  <div class="container traditions__container">
    <div class="traditions__part">
      <h2 class="title traditions__title">Новий формат традицій</h2>
      <p class="traditions__text">
        <span class="traditions__text--transform">shop bakery</span> — це
        пекарня, яка взяла все найкраще, і зберегла смак традиційної випічки та
        натуральність інгредієнтів.
      </p>
      <p class="traditions__text traditions__text--width">
        Ми працюємо як найвідоміші мережі —
        <span class="traditions__text--color"
          ><br />5 хвилин і замовлення готове</span
        >. <br />
        А ще у наших пекарень стильний дизайн та висока якість обслуговування!
      </p>
    </div>
    <img
      class="traditions__image"
      src="./images/baker-man.jpg"
      alt="smiling man looks at bread"
    />
  </div>
</section>
