<section>
  <ul>
    <li>великий попит на ринку</li>
    <li>доступні за бюджетом формати</li>
    <li>досвідчена управлінська команда</li>
  </ul>
  <h2>новий формат традицій</h2>
  <p>
    <span>shop bakery</span> — це пекарня, яка взяла все найкраще, і зберегла
    смак традиційної випічки та натуральність інгредієнтів.
  </p>
  <p>
    ми працюємо як найвідоміші мережі —
    <span>5 хвилин і замовлення готове</span>. А ще у наших пекарень стильний
    дизайн та висока якість обслуговування!
  </p>
  <img src="./images/baker-man.jpg" alt="smiling man looks at bread" />
</section>
