.advantages {
  padding: 21px 40px;
  @media screen and (min-width: $tablet) {
    background-color: var(--color-primary-accent);
    padding: 16px 0;
  }

  &__list {
    max-width: 318px;
    padding: 24px 40px;
    background-color: var(--color-advantages-section);
    border-radius: 24px;

    @media screen and (min-width: $tablet) {
      max-width: 1240px;
      padding: 0;
      @include centeredFlex();
      gap: 160px;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__item {
    @include text(
      $size: 14px,
      $font-weight: 300,
      $color: var(--color-primary-dark)
    );
    &:not(:last-child) {
      margin-bottom: 16px;
      @media screen and (min-width: $tablet) {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: $tablet) {
      @include text(
        $size: 20px,
        $font-weight: 300,
        $color: var(--color-primary-light)
      );
    }
  }
}
