.btn-order {
  cursor: pointer;
  width: 238px;
  height: 59px;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--color-primary-light);
  background-color: var(--color-primary-accent);
  border-radius: 8px;
  border: 2px solid var(--color-primary-accent);
  &:hover,
  &:focus {
    color: var(--color-secondary-accent);
    background-color: transparent;
  }
}
