.btn-order {
  cursor: pointer;
  width: 158px;
  height: 49px;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: var(--color-primary-light);
  background-color: var(--color-primary-accent);
  border-radius: 8px;
  border: 2px solid var(--color-primary-accent);
  transition: background-color 250ms var(--distribution-time);
  &:hover,
  &:focus {
    color: var(--color-secondary-accent);
    background-color: var(--color-primary-light);
  }
  @media screen and(min-width:$tablet) {
    width: 238px;
    height: 59px;
    font-size: 18px;
    padding: 16px 32px;
  }
}
