.contacts {
  &__container {
    padding-bottom: 0;
    @media screen and(min-width:$tablet) {
      padding-bottom: 96px;
    }
    width: 360px;
    @include centeredFlex();
    gap: 32px;
    flex-direction: column;
    @media screen and(min-width:$tablet) {
      flex-direction: row;
      min-width: 1024px;
    }
  }
  &__blok {
    max-width: 605px;
  }
  &__title {
    text-align: start;
    margin-bottom: 16px;
  }
  &__subtitle {
    margin-bottom: 42px;
  }
  &__text,
  &__link {
    display: block;
    margin: 0 auto;
    text-align: center;
    @include text($size: 12px);
  }
  &__map {
    width: 360px;
    height: 176px;
    @media screen and (min-width: $tablet) {
      width: 603px;
      height: 595px;
    }
  }
}
.contacts-form {
  @include centeredFlex($align: flex-start);
  gap: 24px;
  flex-direction: column;
  margin-bottom: 16px;

  &__input {
    width: 320px;
    padding: 8px 24px;
    border: 1px solid var(--color-secondary-dark);
    background-color: transparent;
    border-radius: 8px;
    @media screen and (min-width: $tablet) {
      width: 605px;
      padding: 16px 42px;
    }
    &:focus,
    &:hover {
      border-color: var(--color-primary-accent);
      outline: none;
    }
    &::placeholder {
      color: var(--color-secondary-dark);
    }
  }
  &__btn {
    margin: 0 auto;
  }
}
