.contacts {
  @include centeredFlex();
  gap: 32px;
  padding-bottom: 96px;
  @media screen and(max-width:$mobile) {
    flex-direction: column;
  }
  &__container {
    max-width: 605px;
  }
  &__title {
    text-align: start;
    margin-bottom: 16px;
  }
  &__subtitle {
    margin-bottom: 42px;
  }
  &__text,
  &__link {
    display: block;
    margin: 0 auto;
    text-align: center;
    @include text($size: 12px);
  }
  &__map {
    width: 603px;
    height: 595px;
    @media screen and (max-width: $mobile) {
      width: 360px;
      height: 176px;
    }
  }
}
.contacts-form {
  @include centeredFlex();
  gap: 24px;
  flex-direction: column;
  margin-bottom: 16px;
  &__input {
    width: 605px;
    padding: 16px 42px;
  }
}
