.footer {
  position: relative;
  height: 515px;
  padding: 32px 100px;
  background-image: url(./../images/footer.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: $tablet) {
    height: 240px;
  }
  &::after {
    content: '';
    width: 112px;
    height: 121px;
    background-image: url(./../images/bread-large-mobile.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: -30px;
    right: -10px;
    @media screen and (min-width: $tablet) {
      background-image: url(./../images/bread.png);
      width: 380px;
      height: 190px;
      bottom: 0;
      right: 0px;
    }
  }
  &::before {
    content: '';
    width: 92px;
    height: 196px;
    transform: rotate(6.437deg);
    background-image: url(./../images/bread-mobile.png);
    position: absolute;
    background-repeat: no-repeat;
    bottom: 259px;
    left: 0;
    @media screen and (min-width: $tablet) {
      width: 180px;
      height: 120px;
      background-image: url(./../images/bread-ear.png);
      bottom: 0;
      left: 0;
      transform: none;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: $tablet) {
      @include centeredFlex($align: flex-start);
      gap: 168px;
      height: 176px;
      flex-direction: row;
    }
  }
  &__nav-list,
  &__address,
  &__policy-block {
    width: 170px;
    @include centeredFlex();
    gap: 18px;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: $tablet) {
      @include centeredFlex($align: flex-start, $justify: left);
      gap: 16px;
      width: 211px;
    }
  }
  &__policy-block {
    gap: 8px;
    @media screen and (min-width: $tablet) {
      gap: 16px;
    }
  }

  &__nav-link {
    @include text($size: 14px, $color: var(--color-primary-light));
    @media screen and (min-width: $tablet) {
      @include text($color: var(--color-primary-light));
    }
  }
  &__text {
    @include text(
      $size: 14px,
      $font-weight: 300,
      $color: var(--color-primary-light)
    );
    font-style: normal;
    @media screen and (min-width: $tablet) {
      @include text(
        $size: 16px,
        $font-weight: 300,
        $color: var(--color-primary-light)
      );
    }

    &--color {
      @include text($size: 14px, $color: var(--color-secondary-dark));
    }
  }
  &__icons {
    display: flex;
    gap: 22px;
  }
  &__icon {
    fill: var(--color-primary-light);
    cursor: pointer;
    border-radius: 50%;
    transition: background-color fill 250ms var(--distribution-time);
    &:hover,
    &:focus {
      fill: var(--color-primary-accent);
      background-color: var(--color-primary-light);
    }
  }
  &__logo {
    width: 72px;
    @media screen and (min-width: $tablet) {
      display: block;
      margin-bottom: 32px;
      margin: 0 auto;
      width: 108px;
    }
  }
}
