.footer {
  height: 240px;
  padding: 32px 100px;
  background-image: url(./../images/footer.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__container {
    @include centeredFlex($align: flex-start);
    gap: 168px;
    height: 176px;
  }
  &__nav-list,
  &__address,
  &__policy-block {
    width: 211px;
    @include centeredFlex($align: flex-start, $justify: left);
    gap: 16px;
    flex-direction: column;
  }

  &__nav-link {
    @include text($color: var(--color-primary-light));
  }
  &__text {
    @include text(
      $size: 15px,
      $font-weight: 300,
      $color: var(--color-primary-light)
    );
    font-style: normal;

    &--color {
      @include text($size: 14px, $color: var(--color-secondary-dark));
    }
  }
  &__icons {
    display: flex;
    gap: 22px;
  }
  &__icon {
    fill: var(--color-primary-light);
  }
}
