.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 16px 20px;

  @media screen and (min-width: $tablet) {
    padding: 32px 87px 0 103px;
  }

  &__container {
    height: 38px;
    @include centeredFlex($justify: space-between);
    @media screen and (min-width: $tablet) {
      width: 1024px;
      height: 59px;
    }
    @media screen and (min-width: $desktop) {
      width: 1250px;
      height: 59px;
    }
  }
  &__img {
    width: 72px;
    @media screen and (min-width: $tablet) {
      width: 114px;
    }
  }

  &-nav {
    &__burger-menu {
      display: block;
      cursor: pointer;

      @media screen and (min-width: $tablet) {
        display: none;
      }
    }
    &__part {
      display: none;
      @media screen and (min-width: $tablet) {
        display: flex;
        gap: 152px;
      }
    }

    &__list {
      @include centeredFlex();
      gap: 64px;
    }

    &__link {
      @include text($font-weight: 600, $color: var(--color-primary-light));
      @media screen and (min-width: $tablet) {
        font-size: 12px;
      }
    }

    &:hover,
    &:focus {
      color: var(--color-primary-accent);
    }
  }
}
