.hero {
  // max-width: 360px;
  height: 378px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-image: linear-gradient(
      103deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(./../images/hero-mobile.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        103deg,
        rgba(18, 18, 17, 0.78) 2.03%,
        rgba(18, 18, 17, 0.6) 58.46%,
        rgba(18, 18, 17, 0) 90.36%
      ),
      url(./../images/hero-mobile@2x.jpg);
  }
  @media screen and (min-width: $tablet) {
    // max-width: 1440px;
    height: 736px;

    background-image: linear-gradient(
        103deg,
        rgba(18, 18, 17, 0.78) 2.03%,
        rgba(18, 18, 17, 0.6) 58.46%,
        rgba(18, 18, 17, 0) 90.36%
      ),
      url(./../images/hero-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          103deg,
          rgba(18, 18, 17, 0.78) 2.03%,
          rgba(18, 18, 17, 0.6) 58.46%,
          rgba(18, 18, 17, 0) 90.36%
        ),
        url(./../images/hero-desktop@2x.jpg);
    }
  }

  &__title {
    text-align: center;
    padding-top: 122px;
    width: 292px;
    @include text(
      $size: 67px,
      $font-weight: 900,
      $color: var(--color-primary-light),
      $line-height: 1.1
    );
    @media screen and (min-width: $tablet) {
      padding-top: 272px;
      width: 100%;
      @include text(
        $size: 87px,
        $font-weight: 900,
        $color: var(--color-primary-light),
        $line-height: 1.5
      );
    }

    @media screen and (min-width: $desktop) {
      @include text(
        $size: 128px,
        $font-weight: 900,
        $color: var(--color-primary-light)
      );
    }
    &--color {
      color: var(--color-primary-accent);
    }
  }
}
