.traditions {
  &__container {
    @media screen and (min-width: $tablet) {
      padding: 0 100px;
      display: flex;
      gap: 104px;
    }
  }
  &__part {
    @media screen and (min-width: $tablet) {
      margin-top: 96px;
      width: 710px;
      display: flex;
      flex-direction: column;
      gap: 42px;
    }
  }
  &__title {
    text-align: start;
    max-width: 320px;
    margin-bottom: 24px;
    @media screen and (min-width: $tablet) {
      max-width: 710px;
      margin-bottom: 0;
    }
  }
  &__text {
    width: 322px;
    font-size: 16px;
    font-weight: 300;
    @media screen and (min-width: $tablet) {
      width: 600px;
      font-size: 18px;
    }
    &--width {
      max-width: 350px;
    }
    &--transform {
      @include text($font-weight: 600, $color: var(--color-primary-accent));
      text-transform: uppercase;
    }
    &--color {
      @include text($font-weight: 600, $color: var(--color-primary-accent));
    }
    &:not(:last-child) {
      margin-bottom: 16px;
      @media screen and (min-width: $tablet) {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
      margin-top: 96px;
      max-width: 393px;
      max-height: 466px;
      border-radius: 400px 400px 0px 0px;
    }
  }
}
